@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*Pagina Index*/
* {
  background-color: rgb(236, 236, 236);
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.centralizar {
  text-align: center;
}
.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

/*====================================Inicio Menu=============================================*/
#menu ul li {
  display: inline;
  padding: 1.25rem;
  font-size: 1.2rem;
  font-weight: 1000;
}
#menu ul li a {
  color: rgb(48, 46, 46);
  font-size: 1rem;
}
#menu ul li a:hover {
  text-decoration: none;
  color: rgba(245, 19, 68, 0.952);
}

/*====================================Fim Menu=============================================*/
/*Titulos H1*/
#titulo {
  color: rgb(49, 48, 48);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}
#titulo:hover {
  color: rgba(245, 19, 68, 0.952);
}

/*Quebra de linha*/
hr {
  width: 100%;
  border-width: 0;
  border-top-width: 0.0625rem;
}

/*Textos Index*/
.justify {
  text-align: justify;
}
.p-30 {
  padding: 1.875rem;
}
/*foto Index*/
.br-50 {
  border-radius: 20%;
}

/*====================================Footer=========================================*/
.tm-social {
  padding: 0.5rem;
}
.mb-50 {
  margin-bottom: 3.125rem;
}
/*=================================PAGE CONTATO=======================================*/
.ml-50 {
  margin-left: 3.125rem;
}
/*Formulario*/
#formulario label {
  left: 19px;
  margin-right: 5px;
}
#nome {
  background-color: #ffffff;

  left: 95px;
  top: 23px;
  width: 225px;
}
#email {
  background-color: #ffffff;

  left: 95px;
  margin-top: 2px;
  width: 225px;
}
#assunto {
  background-color: #ffffff;
}
