@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*
  STYLES PAGE INDEX 
*/
* {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(229, 238, 238);
}

/* MENU */

#menu ul li {
  display: inline;
  font-size: 1.2rem;
  font-weight: 1000;
  padding: 20%;
}
#menu ul li a {
  color: rgb(49, 48, 48);
}
#menu ul li a:hover {
  color: rgb(22, 228, 193);
}

/* TITULO */
#titulo {
  color: rgb(49, 48, 48);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}
#titulo:hover {
  color: rgb(103, 233, 211);
}

h2 {
  color: rgb(58, 58, 58);
}

/* centralizar */

.centralizar {
  align-items: center;
  text-align: center;
}

/* Containers */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.3125rem 0.8rem;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-left: 2.5rem;
}

.container img {
  width: 37.5rem;
  height: auto;
  padding-right: 1.875rem;
}
